<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
<section>

<div class="container">

<h1  class="text-center" style="color:Black">About SmartContact Manager</h1>
<h5 class="mt-4  text-secondary">
SmartContact Manager is a user-friendly application designed to simplify contact management. Whether you're an individual or a small business, this tool helps you store, organize, and manage your contacts efficiently.

</h5>
</div>
<div class="container">

<h2>Why Choose SmartContact Manager?
</h2>

<p>With its intuitive interface and powerful features, SmartContact Manager is designed to save you time and effort, making contact management more efficient and secure.
</p>
</div>


</section>	
</body>
</html>